body{
    background-color: gray;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#superHeroImage{
    border-radius: 25%;
    margin-bottom: 10px;
}
.title-text{
    color:black;
    margin-bottom: 5px;
}
.search-area{
    color:white;
    background-color: black;
    height: 35px;
    border: none;
    border-radius: 3%;
}
.photo{
    height: 300px;
    margin-bottom: 20px;
}